@import '../../styles/variables';

.toolbar { @include toolbar; padding: 0 10px; background-color: $main; border-bottom: 1px solid $black;
  &__picker { width: 25px; }
  &__tool_active { border: 1px solid $grey; border-radius: 2px; background-color: $white; }
}