@import '../../../styles/variables';

.button-field { display: flex; align-items: center; justify-self: center; gap: 20px; background-color: $white;
   border-radius: 3px; overflow: hidden; position: relative;

  &__input { flex: 3; border: none; outline: none; background-color: inherit; padding: 4px 8px; padding-left: 70px; }
  &__button { flex: 1; border: 1px solid $black; padding: 4px 10px; background-color: $black; color: $white; font-family: monospace;
    text-decoration: none;
  }

  &__label { position: absolute; top: 4px; left: 2px; color: rgba($black, 0.5); font-family: monospace; }
}